{% extends 'shoal/base.html' %}

{% block body %}
  <p>fish are stronger in a shoal,<br>
  what are you waiting for?<br></p>

  <form action="{% url 'shoal:join' %}" method="post">
    {% csrf_token %}
    <input type="text" name="shoal_id" size="16"/>
    <input type="submit" value="join">
  </form>

  <p>cant find any? create one,<br>
  some will surelly follow.<br></p>

  <form action="{% url 'shoal:create' %}" method="post">
    {% csrf_token %}
    <input type="text" name="shoal_name" size="16"/>
    <input type="submit" value="create">
  </form>
{% endblock %}
